.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2rem;
    padding-left: 20px;
}

.back-to-home a {
    color: #3a937a; /* Your desired color */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-to-home a:hover {
    color: #2c6f5c;
}

.back-to-home i {
    margin-right: 8px; /* Space between icon and text */
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}

.table-container {
    margin: 20px;
}
.table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
. h2
{
    padding-left: 20px;
}



.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}



.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }


    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}